#shaw-head{
	width:700px;
	heigth:30px;
	padding:10px;
	background-color: #011e29;
}
h2{
	color:white;
	text-align:center;
}
h4{
	text-align:center;
}
body{
	background-color:#f5f4f5;
}
ul li{
	width:150px;
	position:relative;
	left:15px;
}
#lts{
	width:170px;
	height:120px;
	padding:5px;
	background-color:white;
	border-radius:15px;
	position:relative;
	top:10px;
}

#main-art{
	width:350px;
	heigth:200px;
	background-color:white;
	border-radius:15px;
	text-align:center;
	position:absolute;
	right:135px;
	top:105px;
}
#pic{
	width:160px;
	heigth:500px;
	background-color:white;
	border-radius:15px;
	position:absolute;
	right:-35px;
	top:105px;
}
img{
	width:130px;
	position:relative;
	left:25px;
}
#pic-h{
	position:relative;
	top:10px;
}